:root {
  --icon-size: 55px;
  --icon-size-big: 80px;
}

.profilecard-container {
  position: absolute;
}

.profilecard-inner {
  position: relative;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s;
  margin: 1em;
  padding: 1em;
  overflow: hidden;
}

.profilecard-inner.expanded {
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

.profilecard-photo {
  width: var(--icon-size-big);
  height: var(--icon-size-big);
  background: #555;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid white;
  border-radius: 5px;
  flex-shrink: 0;
}

.profilecard-title {
  font-size: 1.5em;
}
.profilecard-role {
  color: #777;
}

.profilecard-descr {
  font-size: 0.9em;
  color: #333;
}

.profilecard-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1em;
  width: 100%;
}

.profilecard-contents-group-appear {
  opacity: 0.01;
  transform: scale(0.1);
}

.profilecard-contents-group-appear-active {
  opacity: 1;
  transition: opacity .5s ease-out, transform 0.3s ease-out;
  transform: scale(1);
}