:root {
  --icon-size: 30px;
  --icon-size-big: 80px;
}

@keyframes pulse {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}


.profilecard-container {
  position: absolute;
}

.profilecard-inner {
  position: relative;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s;
  transform: translate(-50%, -50%);
  overflow: hidden;
  /*animation: pulse 3.25s infinite cubic-bezier(0.66, 0, 0, 1);*/
  animation: pulse 2s infinite ease-in-out;
}

.profilecard-inner.expanded {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  animation: none;
  padding: 1em;
  z-index: 10;
}
.profilecard-inner.red {
  border: 1px solid rgba(232, 76, 61, 0.7);
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
}
.profilecard-inner.red.expanded {
  border: 5px solid rgba(232, 76, 61, 0.7);
}
.profilecard-inner.amber {
  border: 1px solid rgba(255, 153, 0, 0.7);
  box-shadow: 0 0 0 0 rgba(255, 153, 0, 0.7);
}
.profilecard-inner.amber.expanded {
  border: 5px solid rgba(255, 153, 0, 0.7);
}
.profilecard-inner.green {
  border: 1px solid rgba(60, 250, 61, 0.7);
  box-shadow: 0 0 0 0 rgba(60, 250, 61, 0.7);
}
.profilecard-inner.green.expanded {
  border: 5px solid rgba(60, 250, 61, 0.7);
}

.profilecard-photo {
  width: var(--icon-size-big);
  height: var(--icon-size-big);
  background: #555;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid white;
  border-radius: 5px;
  flex-shrink: 0;
}

.profilecard-title {
  font-size: 1.5em;
}
.profilecard-role {
  color: #777;
}

.profilecard-descr {
  font-size: 0.9em;
  color: #333;
}

.profilecard-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1em;
  width: 100%;
}

.profilecard-contents-group-appear {
  opacity: 0.01;
  transform: scale(0.1);
}

.profilecard-contents-group-appear-active {
  opacity: 1;
  transition: opacity .5s ease-out, transform 0.3s ease-out;
  transform: scale(1);
}